{% extends "home.html" %}

{% block content %}
<script>
  window.addEventListener('pageshow', function (event) {
      if (event.persisted || (window.performance && window.performance.navigation.type === 2)) {
          window.location.reload();
      }
  });
</script>

<h2>Your Bookings</h2>
<ul>
{% for b in bookings %}
  <li>{{ b.service.name }} booked by {{ b.customer.username }} - Status: {{ b.status }}
      [<a href="{% url 'update_booking_status' b.id %}">Change Status</a>]
  </li>
{% endfor %}
</ul>
{% endblock %}